Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md

Declare versions for all providers
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

eriase.ps1 support multiple suffixes
  scripts/erase.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Bugfixes (#104)
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/erase.ps1
  scripts/tf_deploy.ps1
  terraform/modules/iis-app/main.tf
  terraform/modules/paas-app/main.tf
  terraform/provider.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add VS Codespace badge
  README.md
Due: none

Updated Viso
  diagram.png
  diagram.vsdx
Due: none

Use Visual Studio Codespace for setup option B
  README.md
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add Codespace bootstrap
  .devcontainer/createorupdate.sh
  .devcontainer/devcontainer.json
  README.md
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Set pwsh as default shell
  .devcontainer/devcontainer.json
  README.md
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

terraform init
  .devcontainer/createorupdate.sh
  .devcontainer/devcontainer.json
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Updated extensions
  .devcontainer/createorupdate.sh
  .devcontainer/devcontainer.json
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Codespace doc update
  README.md
Due: none

Visual Studio Codespace provisioning option (#105)
  .devcontainer/createorupdate.sh
  .devcontainer/devcontainer.json
  README.md
  diagram.png
  diagram.vsdx
  scripts/functions.ps1
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use PowerShell for bootstrap
  .devcontainer/createorupdate.ps1
  .devcontainer/createorupdate.sh
  .devcontainer/devcontainer.json
  .devcontainer/profile.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Set SHELL to pwsh
  .devcontainer/profile.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Use bootstrap-os
  .devcontainer/createorupdate.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

List subscriptions if ARM_SUBSCRIPTION_ID not set
  scripts/functions.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Ignore 2.19, still breaks load balancer
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Run punch_hole on apply and destroy
  scripts/functions.ps1
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Prompt to select subscription
  scripts/functions.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Dependency on storage rules
  terraform/management.tf
  terraform/modules/iis-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update README
  README.md
Due: none

Use uksouth as default region
  README.md
  scripts/functions.ps1
  scripts/punch_hole.ps1
  terraform/management.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update README
  README.md
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Codespace fix (#106)
  .devcontainer/createorupdate.ps1
  .devcontainer/createorupdate.sh
  .devcontainer/devcontainer.json
  .devcontainer/profile.ps1
  README.md
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/functions.ps1
  scripts/punch_hole.ps1
  scripts/tf_deploy.ps1
  terraform/management.tf
  terraform/modules/iis-app/main.tf
  terraform/provider.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pin azurerm provider version
  pipelines/templates/vdc-terraform-apply.yml
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add comment to provider.tf
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pin azurerm provider version (#107)
  pipelines/templates/vdc-terraform-apply.yml
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use local svg
  .devcontainer/vscodespacebutton.svg
  README.md
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Add PNG version
  .devcontainer/vscodespacebutton.png
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Parameter unpinTerraformProviders
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Ignore azurerm 2.20
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use Terraform 0.12.29
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

roll back to 0.12.28
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

0.12.29
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update vdc-terraform-apply-simple-ci.yml for Azure Pipelines
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Add sleep to simple pipeline
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

1000 seconds :-(
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Make re-entrance optional
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Display terraform version
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml
