Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md

Add dashboard
  README.md
Due: none

Move content to relevant diagrams
  README.md
  terraform/dashboard.tpl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Identity update
  README.md
Due: none

Updated diagrams
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
Due: none

Updated README
  README.md
Due: none

typos
  README.md
Due: none

Documentation Update (#101)
  README.md
  dashboard.png
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
  terraform/dashboard.tpl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fixed link
  README.md
Due: none

Terraform install info
  README.md
Due: none

Docfix (#102)
  README.md
Due: none

Updated defaults
  README.md
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Try to reproduce in pipeline
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

TF timeouts
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

restrict_public_storage_access toggle
  scripts/erase_standalone.ps1
  terraform/config.auto.tfvars.sample
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

restrict_public_access for all PaaS FW's
  terraform/config.auto.tfvars.sample
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated sample
  terraform/config.auto.tfvars.sample
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Reimplement restrict_public_access
  .gitignore
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Switch to ignore backend
  README.md
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pipeline for nobackend & tf_deploy.ps1 optimizatio
  README.md
  pipelines/vdc-terraform-apply-nobackend.yml
  scripts/defaults.ps1
  scripts/functions.ps1
  scripts/tf_deploy.ps1
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

TF_VAR_resource_suffix
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

erase.ps1 can now destroy by suffix
  README.md
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/erase.ps1
  scripts/erase_standalone.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Upfdated README
  README.md
Due: none

Toggle better accessible
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Event Hub Zone Redundant
  terraform/modules/paas-app/main.tf
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated network diagram
  diagram.png
  diagram.vsdx
Due: none

Updated erase to use parameter sets
  scripts/erase.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Minor documentation tweaks
  README.md
Due: none

Documentation updates
  README.md
Due: none

Improved First User Experience (#103)
  .gitignore
  README.md
  diagram.png
  diagram.vsdx
  pipelines/vdc-terraform-apply-nobackend.yml
  scripts/defaults.ps1
  scripts/erase.ps1
  scripts/functions.ps1
  scripts/tf_deploy.ps1
  terraform/config.auto.tfvars.sample
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/provider.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

List environment variables
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fix casing of TF_VAR_resource_suffix
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Erase workspace by default
  scripts/erase.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

provider 2.17
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pool name
  terraform/modules/iis-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

ip level rule
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add comment wrt 2.17
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Disable NetworkMonitoring solution
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Unpin Terraform provider
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

!= 2.18
  pipelines/templates/vdc-terraform-apply.yml
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml
