Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pipelines/iis-asp.net-ci.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: NuGetToolInstaller@0
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  ...

Pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Provision
    displayName: Provision Infrastructure with Terraform
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
  ...

Pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

Pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  stages:
  - template: ./templates/vdc-terraform-apply.yml
    parameters:
      name: CI
      displayName: Provision, Deploy, Tear down
      inherit: ${{ parameters.inherit }}
  ...

pipelines/vdc-terraform-apply-nobackend.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

Pass VM config to module
  terraform/modules.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update providers
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove onsolet attribute
  terraform/modules/iis-app/main.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Indent
  terraform/modules/iis-app/scripts/host/mount_data_disks.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Determine image version
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/outputs.tf
  terraform/outputs.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Declare all providers
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Get latest by not spefifying version
  terraform/modules/iis-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use same version for MGMT VM
  terraform/management.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Optional IaaS App deployment
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Propagate deployIaaS
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Use literal for repo name
  terraform/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Allow wdc(alt).microsoft.com
  terraform/iag.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

typo
  terraform/iag.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pipeline: deployIaaS parameter
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-ci.yml
  terraform/iag.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

deployIaaS off by default
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Adapt ci/release pipeline to deployment parameters
  pipelines/vdc-terraform-apply-cd.yml
  pipelines/vdc-terraform-apply-release.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Make Terraform providers executable for destroy
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

No publish in CD
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Set deployIaaS to true (again)
  pipelines/vdc-terraform-apply-cd.yml
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-release.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

azurerm 2.47
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.47, terraform 0.14.6, optional IaaS app deployment (#125)
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-cd.yml
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-release.yml
  terraform/.terraform-version
  terraform/iag.tf
  terraform/main.tf
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/outputs.tf
  terraform/modules/iis-app/scripts/host/mount_data_disks.ps1
  terraform/outputs.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove azure-cli storage diag workaround
  terraform/.terraform-version
  terraform/modules/paas-app/main.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove azure-cli storage diag workaround (#126)
  terraform/.terraform-version
  terraform/modules/paas-app/main.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add SQL audit & vulnerability assessment
  terraform/backend.tf.sample
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Cater for var.alert_email being null
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Include Terraform lock file
  .gitignore
  terraform/.terraform.lock.hcl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update SQL DB securiry baseline
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

VA2130
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Don't use a backend for plan
  pipelines/vdc-terraform-plan-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-plan-ci.yml

Don't use workspace if there's no backend
  pipelines/vdc-terraform-plan-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-plan-ci.yml

Security baseline is optional
  terraform/default.tfvars
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

vulrerability baseline defaults to true
  terraform/test.tfvars
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

enable_custom_vulnerability_baseline false
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.50, SQL Auditing & Vulnerability Assessment (#127)
  .gitignore
  pipelines/vdc-terraform-plan-ci.yml
  terraform/.terraform.lock.hcl
  terraform/backend.tf.sample
  terraform/default.tfvars
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/provider.tf
  terraform/test.tfvars
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Terraform & provider versions
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Detect repo directory in Codespace
  .devcontainer/createorupdate.ps1
  .devcontainer/profile.ps1
Due: Pipelines/iis-asp.net-ci.yml

Safer approach to sticky suffix
  scripts/functions.ps1
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fix StickySuffix
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use $PSScriptRoot in script references
  pipelines/templates/vdc-terraform-apply.yml
  scripts/deploy_paas_app.ps1
  scripts/erase.ps1
  scripts/grant_database_access.ps1
  scripts/let_me_in.ps1
  scripts/obsolete/configure_private_link.ps1
  scripts/obsolete/list_resources.ps1
  scripts/obsolete/start_vms.ps1
  scripts/punch_hole.ps1
  scripts/schedule_vm_updates.ps1
  scripts/templatize_dashboard.ps1
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

bump azurerm
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-nobackend.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md
