Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-nobackend.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md

No cleanup of indicated success only
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

cleanUpOnCancel
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

ne->eq
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Set ARM_ environment variables
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Reference env:
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

addSpnToEnvironment: true
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Remove trace info
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Move paas fw mgmt & app deployment together
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

cd
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Sett app setting directly instead of swap
  scripts/deploy_paas_app.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

db only for pipeline test
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Split mgmt by url rules
  scripts/deploy_paas_app.ps1
  terraform/iag.tf
  terraform/outputs.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

workspace portal_url depricated
  terraform/iag.tf
  terraform/outputs.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

All
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Swap slots
  scripts/deploy_paas_app.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

noswap
  scripts/deploy_paas_app.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

swap
  scripts/deploy_paas_app.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

App Service slot swap fix (#119)
  pipelines/templates/vdc-terraform-apply.yml
  scripts/deploy_paas_app.ps1
  scripts/punch_hole.ps1
  terraform/iag.tf
  terraform/modules/paas-app/main.tf
  terraform/outputs.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.33
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Handle terraform output errors better
  scripts/functions.ps1
  scripts/punch_hole.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Terraform 0.13.5
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.33 & terraform 0.13.5 (#121)
  scripts/functions.ps1
  scripts/punch_hole.ps1
  terraform/.terraform-version
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use new style icons where available
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
Due: none

Allignment issues
  deployment-diagram.png
  diagram.png
  diagram.vsdx
Due: none

Updated dev container
  .devcontainer/createorupdate.ps1
Due: Pipelines/iis-asp.net-ci.yml

reorder script
  .devcontainer/createorupdate.ps1
Due: Pipelines/iis-asp.net-ci.yml

Codespace MOTD
  .devcontainer/createorupdate.ps1
  .devcontainer/profile.ps1
Due: Pipelines/iis-asp.net-ci.yml

Diagram updates (#122)
  .devcontainer/createorupdate.ps1
  .devcontainer/profile.ps1
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
Due: Pipelines/iis-asp.net-ci.yml

Terraform 0.14.3 & azurerm 2.41
  .gitignore
  scripts/functions.ps1
  terraform/.terraform-version
  terraform/modules/iis-app/main.tf
  terraform/monitoring.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add purge permission
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Key Vault key purging
  terraform/provider.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use repository tag
  terraform/main.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

update
  pipelines/asp.net-sql-ci.yml
  pipelines/iis-asp.net-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Terraform 0.14 & azuren 2.41 (#123)
  .gitignore
  pipelines/asp.net-sql-ci.yml
  pipelines/iis-asp.net-ci.yml
  scripts/functions.ps1
  terraform/.terraform-version
  terraform/main.tf
  terraform/modules/iis-app/main.tf
  terraform/monitoring.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Terraform 0.14.4 & azurerm 2.42
  pipelines/templates/vdc-terraform-apply.yml
  terraform/.terraform-version
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove redundant output
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Terraform 0.14.4 & azurerm 2.42 (#124)
  pipelines/templates/vdc-terraform-apply.yml
  terraform/.terraform-version
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

optional app deployment
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

YAML indent error
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Use terraform 0.14.6
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml
