Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pipelines/iis-asp.net-ci.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: NuGetToolInstaller@0
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  ...

Pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Provision
    displayName: Provision Infrastructure with Terraform
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
  ...

Pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

Pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  stages:
  - template: ./templates/vdc-terraform-apply.yml
    parameters:
      name: CI
      displayName: VDC CI
      inherit: false
      provision: true
      reprovision: true
  ...

pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

Use cd specific variable group
  pipelines/vdc-terraform-apply-cd.yml
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-release.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

YAML Release & CD pipelines (#96)
  pipelines/asp.net-core-sql-ci.yml
  pipelines/iis-asp.net-ci.yml
  pipelines/templates/vdc-terraform-apply.variables.yml
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/test-template.yml
  pipelines/test.yml
  pipelines/vdc-terraform-apply-cd.yml
  pipelines/vdc-terraform-apply-release.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/erase.ps1
  scripts/functions.ps1
  scripts/templatize_dashboard.ps1
  scripts/tf_deploy.ps1
  scripts/wait_for_agents.ps1
  terraform/.terraform-version
  terraform/default.tfvars
  terraform/hub-vnet.tf
  terraform/iag.tf
  terraform/main.tf
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/scripts/host/install_agent.ps1
  terraform/modules/iis-app/variables.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/outputs.tf
  terraform/modules/paas-app/variables.tf
  terraform/monitoring.tf
  terraform/outputs.tf
  terraform/test.tfvars
  terraform/variables.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Verbose messages
  pipelines/templates/vdc-terraform-apply.yml
  scripts/wait_for_agents.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Set service to start automatically (not delayed)
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated timeouts
  pipelines/templates/vdc-terraform-apply.yml
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

remove comment
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Display correct region only
  scripts/create_network_watcher.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

argument fix
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

azurerm_monitor_diagnostic_setting created twice
  terraform/management.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Edclare pwsh version dependency
  scripts/create_network_watcher.ps1
  scripts/deploy_paas_app.ps1
  scripts/erase.ps1
  scripts/get_tf_version.ps1
  scripts/get_user_info.ps1
  scripts/grant_database_access.ps1
  scripts/let_me_in.ps1
  scripts/obsolete/configure_private_link.ps1
  scripts/obsolete/list_resources.ps1
  scripts/obsolete/start_vms.ps1
  scripts/punch_hole.ps1
  scripts/schedule_vm_updates.ps1
  scripts/templatize_dashboard.ps1
  scripts/tf_deploy.ps1
  scripts/wait_for_agents.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fixes for Environment Agents and SQL Private Endpoint (#97)
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/create_network_watcher.ps1
  scripts/deploy_paas_app.ps1
  scripts/erase.ps1
  scripts/get_tf_version.ps1
  scripts/get_user_info.ps1
  scripts/grant_database_access.ps1
  scripts/let_me_in.ps1
  scripts/obsolete/configure_private_link.ps1
  scripts/obsolete/list_resources.ps1
  scripts/obsolete/start_vms.ps1
  scripts/punch_hole.ps1
  scripts/schedule_vm_updates.ps1
  scripts/templatize_dashboard.ps1
  scripts/tf_deploy.ps1
  scripts/wait_for_agents.ps1
  terraform/default.tfvars
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/iis-app/scripts/host/install_agent.ps1
  terraform/modules/paas-app/main.tf
  terraform/modules/spoke-vnet/main.tf
  terraform/outputs.tf
  terraform/test.tfvars
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

App Service Private Link Support (ingress)
  README.md
  scripts/host/prepare_mgmtvm.ps1
  terraform/management.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/outputs.tf
  terraform/variables.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Using containers
  scripts/templatize_dashboard.ps1
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

.NET Core 3.1
  scripts/deploy_paas_app.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Erase wait switch fix
  scripts/erase.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

erase.ps1 '-wait' fix (#98)
  scripts/erase.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Output connection string
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/outputs.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

misplaced comment
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

outbound access for MSI
  terraform/default.tfvars
  terraform/iag.tf
  terraform/test.tfvars
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Kudu only internal with Private Link
  terraform/dashboard.tpl
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Removed SCM rules
  scripts/host/prepare_mgmtvm.ps1
  scripts/templatize_dashboard.ps1
  terraform/default.tfvars
  terraform/iag.tf
  terraform/management.tf
  terraform/monitoring.tf
  terraform/outputs.tf
  terraform/test.tfvars
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Working with app svc auth & private link
  terraform/iag.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove redundant code
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use deployment slot
  scripts/create_deployment_slot.ps1
  scripts/deploy_paas_app.ps1
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fixed AppGw backend setting
  pipelines/templates/vdc-terraform-apply.yml
  scripts/deploy_paas_app.ps1
  terraform/default.tfvars
  terraform/iag.tf
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/variables.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

statement on one line
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Provide missing parameters
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml

Ignore ASPNETCORE_ENVIRONMENT
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Manage deployment slots
  scripts/create_deployment_slot.ps1
  scripts/swap_deployment_slots.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated diagram
  README.md
  diagram.png
  diagram.vsdx
Due: none

Access App Service via Private EndPoint & Deploy PaaS App as Linux container (#99)
  README.md
  diagram.png
  diagram.vsdx
  pipelines/templates/vdc-terraform-apply.yml
  scripts/create_deployment_slot.ps1
  scripts/deploy_paas_app.ps1
  scripts/host/prepare_mgmtvm.ps1
  scripts/swap_deployment_slots.ps1
  scripts/templatize_dashboard.ps1
  terraform/dashboard.tpl
  terraform/iag.tf
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/outputs.tf
  terraform/modules/paas-app/variables.tf
  terraform/monitoring.tf
  terraform/outputs.tf
  terraform/test.tfvars
  terraform/variables.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Working in West Europe
  README.md
  terraform/.terraform-version
  terraform/default.tfvars
  terraform/hub-vnet.tf
  terraform/main.tf
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use unieqie name for acr endpoint
  terraform/default.tfvars
  terraform/main.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Added identity and deployment diagrams
  README.md
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
Due: none

Updated diagrams
  deployment-diagram.png
  diagram.vsdx
  identity-diagram.png
Due: none

Updated diagrams
  deployment-diagram.png
  diagram.vsdx
Due: none

Reformatting README
  README.md
Due: none

Container Registry access with Private Endpoint & AAD authentication (#100)
  README.md
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
  terraform/.terraform-version
  terraform/hub-vnet.tf
  terraform/main.tf
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/provider.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Reformatting
  README.md
  deployment-diagram.png
  diagram.png
  diagram.vsdx
  identity-diagram.png
Due: none

Include dashboard screenshot
  README.md
  dashboard.png
  terraform/dashboard.tpl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md
