Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-nobackend.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md

Terraform 0.12.29 & azurerm provider handling (#108)
  .devcontainer/createorupdate.ps1
  .devcontainer/vscodespacebutton.png
  .devcontainer/vscodespacebutton.svg
  README.md
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  terraform/.terraform-version
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

mgmt scripts dependent on Private Link & DNS
  terraform/management.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add pipeline agent setup logging
  terraform/modules/iis-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Added conditional DNS zone forwarders
  scripts/erase.ps1
  scripts/host/configure_mgmtvm_roles.ps1
  scripts/host/private_link_zones.conf
  scripts/let_me_in.ps1
  terraform/management.tf
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Use Google Public DNS & conditional forwarders
  scripts/host/configure_mgmtvm_roles.ps1
  terraform/iag.tf
  terraform/management.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Clear DNS Cache
  scripts/host/configure_mgmtvm_roles.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Stop on error
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated diagram to include DNS
  diagram.png
  diagram.vsdx
Due: none

Bug fixes & Conditional DNS forwarders (#109)
  diagram.png
  diagram.vsdx
  scripts/erase.ps1
  scripts/host/configure_mgmtvm_roles.ps1
  scripts/host/private_link_zones.conf
  scripts/let_me_in.ps1
  terraform/iag.tf
  terraform/management.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated diagrams inc. Power BI
  diagram.png
  diagram.vsdx
  identity-diagram.png
Due: none

azurerm 2.24
  terraform/main.tf
  terraform/management.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.24 (#110)
  terraform/main.tf
  terraform/management.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

typo
  scripts/host/private_link_zones.conf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Diagnostics setting for storage feature toggle
  terraform/config.auto.tfvars.sample
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Correct category name
  terraform/modules/paas-app/main.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Document enable_storage_diagnostic_setting
  README.md
Due: none

Use Azure CLI for storage diagnostic setting
  terraform/modules/paas-app/main.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add denied storage requests to dashboard. csl->kql
  kusto/denied-outbound-http-traffic.kql
  kusto/denied-outbound-traffic.kql
  kusto/denied-storage-traffic.kql
  kusto/inbound-http-errors.csl
  kusto/inbound-http-errors.kql
  terraform/dashboard.tpl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Storage logging to Log Analytics Workspace (#111)
  README.md
  kusto/denied-outbound-http-traffic.kql
  kusto/denied-outbound-traffic.kql
  kusto/denied-storage-traffic.kql
  kusto/inbound-http-errors.csl
  kusto/inbound-http-errors.kql
  scripts/host/private_link_zones.conf
  terraform/config.auto.tfvars.sample
  terraform/dashboard.tpl
  terraform/modules.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/provider.tf
  terraform/shared-paas.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Added APIM (disconnected from AppGW)
  kusto/nsg-statistics.kql
  terraform/apim.tf
  terraform/config.auto.tfvars.sample
  terraform/hub-vnet.tf
  terraform/iag.tf
  terraform/modules/spoke-vnet/main.tf
  terraform/monitoring.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Default email address
  terraform/apim.tf
  terraform/iag.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Basic AppGW -> APIM integration
  terraform/apim.tf
  terraform/config.auto.tfvars.sample
  terraform/outputs.tf
  terraform/provider.tf
  terraform/variables.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

AppGW -> APIM integration
  scripts/templatize_dashboard.ps1
  terraform/apim.tf
  terraform/dashboard.tpl
  terraform/iag.tf
  terraform/monitoring.tf
  terraform/outputs.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Download SSL root cert in pipelines
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-plan-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-plan-ci.yml

Test APIM in pipeline
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Feature toggle dependencies
  terraform/config.auto.tfvars.sample
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Alternate syntax
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Debug info
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

set-psdebug -Trace 2
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Create subscription so we can test API in pipeline
  pipelines/templates/vdc-terraform-apply.yml
  scripts/templatize_dashboard.ps1
  terraform/apim.tf
  terraform/iag.tf
  terraform/monitoring.tf
  terraform/outputs.tf
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add debug info to CustomScript extensions
  scripts/host/configure_mgmtvm_roles.ps1
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove private zones not needed
  scripts/host/configure_mgmtvm_roles.ps1
  scripts/host/private_link_zones.conf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Reduce verbosity level
  scripts/host/configure_mgmtvm_roles.ps1
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Updated vm extension versions
  terraform/management.tf
  terraform/modules/iis-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Quote header
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Allow CI build to inherit state
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Get up to date value for apim_demo_api_key
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

re-order VM extensions
  terraform/management.tf
  terraform/modules/iis-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

APIM AAD AuthN support
  pipelines/vdc-terraform-apply-ci.yml
  terraform/apim.tf
  terraform/config.auto.tfvars.sample
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Address deploy_api_gateway=false bugs
  terraform/monitoring.tf
  terraform/waf.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml
