Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pipelines/iis-asp.net-ci.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: NuGetToolInstaller@0
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  ...

Pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Provision
    displayName: Provision Infrastructure with Terraform
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
  ...

Pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

Pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  stages:
  - template: ./templates/vdc-terraform-apply.yml
    parameters:
      name: CI
      displayName: Provision, Deploy, Tear down
      inherit: ${{ parameters.inherit }}
  ...

pipelines/vdc-terraform-apply-nobackend.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

Week13 (#128)
  .devcontainer/createorupdate.ps1
  .devcontainer/profile.ps1
  pipelines/templates/vdc-terraform-apply.yml
  scripts/deploy_paas_app.ps1
  scripts/erase.ps1
  scripts/functions.ps1
  scripts/grant_database_access.ps1
  scripts/let_me_in.ps1
  scripts/obsolete/configure_private_link.ps1
  scripts/obsolete/list_resources.ps1
  scripts/obsolete/start_vms.ps1
  scripts/punch_hole.ps1
  scripts/schedule_vm_updates.ps1
  scripts/templatize_dashboard.ps1
  scripts/tf_deploy.ps1
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Source pool & vmImage from variable group pipeline
  pipelines/templates/vdc-terraform-apply.variables.yml
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

quote pool name
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

TF version
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Destroy with TerraformCLI@0
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Destroy (only) with TerraformCLI@0
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Fix step name
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

destroy: succeededOrFailed()
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Pin versions to last known sucessful destroy
  terraform/.terraform-version
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

upgrade on init
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

upgrade in plan as well
  pipelines/vdc-terraform-plan-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-plan-ci.yml

Test 0.14.10
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.55 in provider.tf only
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.51
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.51
  terraform/.terraform.lock.hcl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.52
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.53
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.54
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.52
  pipelines/templates/vdc-terraform-apply.variables.yml
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.54
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

tighter timeouts
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

azurerm 2.52, tighter timeouts
  pipelines/templates/vdc-terraform-apply.yml
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

disable TerraformCLI@0
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Remove provider restrictions
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm 2.50
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fix unpinTerraformProviders
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Week14 (#129)
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-plan-ci.yml
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Disable publiic storage container access
  data/default/prepare_mgmtvm.ps1
  scripts/host/ManagementFirstLogonCommands.xml
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/management.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/scripts/host/FirstLogonCommands.xml
  terraform/modules/paas-app/main.tf
  terraform/monitoring.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Disable publiic storage container access (#130)
  data/default/prepare_mgmtvm.ps1
  scripts/host/ManagementFirstLogonCommands.xml
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/management.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/scripts/host/FirstLogonCommands.xml
  terraform/modules/paas-app/main.tf
  terraform/monitoring.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Make tags variable override tags defined inline
  terraform/main.tf
  terraform/variables.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update pipeline schedules
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Try TF 0.15
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

TF 0.15.5
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Set timeouts on azurerm_key_vault_access_policy
  terraform/management.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Try not to fail the pipeline if destroy fails
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Clean up conditions
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Flag destroy failure as pipeline warning
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

continueOnError
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml

Updated name of state env vars
  scripts/tf_deploy.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-nobackend.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any of: scripts, terraform, but not: *.md, *.png, *.svg, *.vsdx, apps, kusto, pipelines
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md
