Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/iis-asp.net-ci.yml, Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/iis-asp.net-ci.yml: any file but: *.md, *.png, *.svg, *.vsdx
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
  pipelines/vdc-terraform-apply-ci.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-nobackend.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-apply-simple-ci.yml: any file but: .devcontainer, *.md, *.png, *.svg, *.vsdx
  pipelines/vdc-terraform-plan-ci.yml: any of: pipelines/vdc-terraform-plan-ci.yml, scripts, terraform, but not: *.md

Remove literals from punch_hole
  scripts/punch_hole.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Remove redundant CIDR rules (#134)
  scripts/deploy_paas_app.ps1
  scripts/punch_hole.ps1
  terraform/.terraform-version
  terraform/main.tf
  terraform/modules/paas-app/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add provisioner data as tags
  terraform/main.tf
  terraform/modules.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Add provisioner data as tags (#135)
  terraform/main.tf
  terraform/modules.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Terraform 1.0.11
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Retry Terraform tasks
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml

Retry DB import
  pipelines/templates/vdc-terraform-apply.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml

Automatically recovering soft-deleted KeyVault
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Retry Terraform tasks (#136)
  pipelines/templates/vdc-terraform-apply.yml
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  terraform/.terraform-version
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Upgare providers
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Pipeline name
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml

Only run on Mon,Wed,Fri
  pipelines/vdc-terraform-apply-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml

Tue,Thu,Sun
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml

Address Terraform azurerm deprecations
  terraform/modules/iis-app/main.tf
  terraform/modules/paas-app/main.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Update202201 (#137)
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-nobackend.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  terraform/.terraform.lock.hcl
  terraform/modules/iis-app/main.tf
  terraform/modules/paas-app/main.tf
  terraform/provider.tf
  terraform/shared-paas.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Upgrade providers
  terraform/.terraform.lock.hcl
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

azurerm_network_watcher_flow_log.name
  terraform/apim.tf
  terraform/hub-vnet.tf
  terraform/modules/spoke-vnet/main.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

$ProgressPreference = 'SilentlyContinue'
  terraform/modules/iis-app/scripts/host/install_agent.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Terraform 1.1.5
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Provider upgrade
  terraform/.terraform.lock.hcl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Upgrade providers (#138)
  scripts/tf_deploy.ps1
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/apim.tf
  terraform/hub-vnet.tf
  terraform/modules/iis-app/scripts/host/install_agent.ps1
  terraform/modules/spoke-vnet/main.tf
  terraform/provider.tf
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Terraform 1.1.7
  terraform/.terraform-version
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Upgrade providers
  terraform/.terraform.lock.hcl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fix Azure CLI session detection
  scripts/functions.ps1
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Fix az login (#139)
  scripts/functions.ps1
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
Due: Pipelines/iis-asp.net-ci.yml, pipelines/vdc-terraform-apply-ci.yml, pipelines/vdc-terraform-apply-nobackend.yml, pipelines/vdc-terraform-apply-simple-ci.yml, pipelines/vdc-terraform-plan-ci.yml

Maintenance notice
  README.md
Due: none
