Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Pipelines/vdc-terraform-apply-ci.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Provision
    displayName: Provision Infrastructure with Terraform
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
  ...

Pipelines/vdc-terraform-apply-simple-ci.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Daily early morning build (UTC)
    always: 'true'
    branches:
      include:
      - master
  jobs:
  - job: Prepare
    displayName: Prepare
    condition: succeeded()
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
  ...

Pipelines/vdc-terraform-plan-ci.yml:
  jobs:
  - job: Plan
    displayName: Plan Infrastructure with Terraform
    timeoutInMinutes: $[ variables['jobTimeOutMinutes'] ]
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - task: DownloadSecureFile@1
      displayName: Download SSL certificate
      inputs:
  ...

App Service -> SQL DB via Service Endpoint
  Scripts/deploy_paas_app.ps1
  Scripts/obsolete/create_appsvc_sqldb_firewall_rules.ps1
  Terraform/modules/paas-app/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Updated diagram
  diagram.png
  diagram.vsdx
Due: none

hacks to prevent 500.79
  Scripts/deploy_paas_app.ps1
  Terraform/modules/paas-app/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Service Endpoints (#88)
  Scripts/deploy_paas_app.ps1
  Scripts/obsolete/create_appsvc_sqldb_firewall_rules.ps1
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/variables.tf
  diagram.png
  diagram.vsdx
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Updated README with feature matrix
  README.md
  Terraform/cd.tfvars
  Terraform/ci.tfvars
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/outputs.tf
  Terraform/test.tfvars
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Merge columns
  README.md
Due: none

Add storage icon
  diagram.png
  diagram.vsdx
Due: none

Exclude Markdown in Pipeline triggers
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
Due: Pipelines/vdc-terraform-plan-ci.yml

Exclude Markdown and images from Pipeline triggers
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-apply-simple-ci.yml
  README.md
Due: none

Don't trigger builds on documentation updates
  Pipelines/asp.net-core-sql-ci.yml
  Pipelines/iis-asp.net-ci.yml
Due: none

Documentation Update (#89)
  Pipelines/asp.net-core-sql-ci.yml
  Pipelines/iis-asp.net-ci.yml
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
  README.md
  Terraform/cd.tfvars
  Terraform/ci.tfvars
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/outputs.tf
  Terraform/test.tfvars
  Terraform/variables.tf
  diagram.png
  diagram.vsdx
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Remove functions
  README.md
  Terraform/modules.tf
  Terraform/modules/auto-shutdown/automation-function.json
  Terraform/modules/auto-shutdown/main.tf
  Terraform/modules/auto-shutdown/variables.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

AAD VM Login
  README.md
  Terraform/default.tfvars
  Terraform/iag.tf
  Terraform/management.tf
  Terraform/modules/iis-app/main.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Rename Bastion -> Management VM
  Scripts/erase.ps1
  Scripts/host/ManagementFirstLogonCommands.xml
  Scripts/host/prepare_mgmtvm.ps1
  Scripts/let_me_in.ps1
  Terraform/default.tfvars
  Terraform/iag.tf
  Terraform/management.tf
  Terraform/outputs.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Diagram update
  README.md
  diagram.png
  diagram.vsdx
Due: none

AAD VM Login & Cleanup (#90)
  README.md
  Scripts/erase.ps1
  Scripts/host/ManagementFirstLogonCommands.xml
  Scripts/host/prepare_mgmtvm.ps1
  Scripts/let_me_in.ps1
  Terraform/default.tfvars
  Terraform/iag.tf
  Terraform/management.tf
  Terraform/modules.tf
  Terraform/modules/auto-shutdown/automation-function.json
  Terraform/modules/auto-shutdown/main.tf
  Terraform/modules/auto-shutdown/variables.tf
  Terraform/modules/iis-app/main.tf
  Terraform/outputs.tf
  Terraform/variables.tf
  diagram.png
  diagram.vsdx
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-apply-simple-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

VM Disk Encryption
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/variables.tf
Due: none

Bootstrap 3.4.1
  apps/IaaS-ASP.NET/SampleIisWebApp/packages.config
  apps/PaaS-ASP.NET-SQLDB/DotNetAppSqlDb/packages.config
Due: none

Mount & encrypt data disks
  terraform/default.tfvars
  terraform/modules/iis-app/main.tf
  terraform/modules/iis-app/scripts/host/AutoLogon.xml
  terraform/modules/iis-app/scripts/host/FirstLogonCommands.xml
  terraform/modules/iis-app/scripts/host/mount_data_disks.ps1
Due: none

AAD P2S VPN Configuration
  scripts/let_me_in.ps1
  terraform/default.tfvars
  terraform/hub-vnet.tf
  terraform/modules/p2s-vpn/main.tf
  terraform/modules/p2s-vpn/outputs.tf
  terraform/outputs.tf
Due: none

P2S VPN AAD auth
  scripts/host/ManagementFirstLogonCommands.xml
  scripts/let_me_in.ps1
  terraform/modules/iis-app/main.tf
  terraform/modules/p2s-vpn/main.tf
  terraform/outputs.tf
Due: none

Use server-side encryption for management vm
  README.md
  scripts/host/ManagementFirstLogonCommands.xml
  scripts/obsolete/create_certs.ps1
  terraform/default.tfvars
  terraform/main.tf
  terraform/management.tf
  terraform/modules/iis-app/main.tf
  terraform/variables.tf
Due: none

Pipeline timeout 180 minutes
  pipelines/vdc-terraform-apply-ci.yml
Due: none

Use ARM_SAS_TOKEN for backend
  README.md
  scripts/functions.ps1
Due: none

azurerm 2.7.0
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/functions.ps1
  scripts/tf_deploy.ps1
  terraform/default.tfvars
  terraform/management.tf
  terraform/modules/paas-app/main.tf
  terraform/provider.tf
  terraform/variables.tf
Due: none

Workaround for AutoLogin <-> AzureDiskEncryption
  scripts/get_user_info.ps1
  scripts/host/ManagementFirstLogonCommands.xml
  scripts/host/prepare_mgmtvm.ps1
  scripts/obsolete/enable_storage_logging.ps1
  terraform/default.tfvars
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/paas-app/main.tf
  terraform/modules/paas-app/variables.tf
  terraform/monitoring.tf
  terraform/variables.tf
Due: none

Remove pqsh dependency from data external sources
  pipelines/vdc-terraform-apply-ci.yml
  terraform/main.tf
  terraform/modules/paas-app/main.tf
Due: none

data external
  terraform/management.tf
Due: none

bash ready
  README.md
  pipelines/vdc-terraform-apply-simple-ci.yml
  scripts/host/prepare_mgmtvm.ps1
  terraform/management.tf
Due: none

Updated README
  README.md
Due: none

Workaround for azurerm_client_config.object_id
  terraform/main.tf
Due: none

Cater for empty admin_object_id
  terraform/main.tf
Due: none

Update vdc-terraform-apply-simple-ci.yml for Azure Pipelines
  pipelines/vdc-terraform-apply-simple-ci.yml
Due: none

Updated Azure CLI instructions
  README.md
Due: none

Key Vault and updatet SQL DB VNet integration
  terraform/hub-vnet.tf
  terraform/iag.tf
  terraform/main.tf
  terraform/management.tf
  terraform/modules.tf
  terraform/modules/iis-app/main.tf
  terraform/modules/paas-app/main.tf
Due: none

Pipeline YAML updates
  pipelines/asp.net-sql-ci.yml
  pipelines/iis-asp.net-ci.yml
  pipelines/vdc-terraform-apply-ci.yml
  pipelines/vdc-terraform-apply-simple-ci.yml
  pipelines/vdc-terraform-plan-ci.yml
Due: none

Re-add SVG's
  .gitignore
  apps/IaaS-ASP.NET/SampleIisWebApp/fonts/glyphicons-halflings-regular.svg
  apps/PaaS-ASP.NET-SQLDB/DotNetAppSqlDb/fonts/glyphicons-halflings-regular.svg
Due: none

Path conditions:
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Pipelines/vdc-terraform-plan-ci.yml, Scripts, Terraform
