Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Terraform, but not: Apps, Kusto, Pipelines

az login
  Scripts/functions.ps1
  Scripts/punch_hole.ps1
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Use Azure CLI for this build as well
  Pipelines/vdc-terraform-plan-ci.yml
Due: none

az login resiliencey
  Scripts/functions.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Update vdc-terraform-plan-ci.yml for Azure Pipelines
  Pipelines/vdc-terraform-plan-ci.yml
Due: none

Update vdc-terraform-apply-ci.yml for Azure Pipelines
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Don't try to import by default
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Clean up
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Use Azure CLI instead of PowerShell Az from Terraform (#83)
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
  Scripts/create_appsvc_sqldb_firewall_rules.ps1
  Scripts/create_network_watcher.ps1
  Scripts/deploy_paas_app.ps1
  Scripts/enable_storage_logging.ps1
  Scripts/functions.ps1
  Scripts/punch_hole.ps1
  Scripts/tf_clear_state.ps1
  Scripts/tf_deploy.ps1
  Terraform/.terraform-version
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/main.tf
  Terraform/management.tf
  Terraform/modules/iis-app/main.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/spoke-vnet/main.tf
  Terraform/monitoring.tf
  Terraform/outputs.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Replace PowerShell Az with Azure CLI
  Scripts/functions.ps1
  Scripts/let_me_in.ps1
  Scripts/schedule_vm_updates.ps1
  Scripts/templatize_dashboard.ps1
  Scripts/tf_clear_state.ps1
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Remove backend.tf from git
  Terraform/backend.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Remove dependency on ARM_ environment variables
  Scripts/deploy_paas_app.ps1
  Scripts/functions.ps1
  Scripts/get_user_info.ps1
  Scripts/let_me_in.ps1
  Scripts/templatize_dashboard.ps1
  Scripts/tf_deploy.ps1
  Terraform/default.tfvars
  Terraform/modules/paas-app/main.tf
  Terraform/modules/spoke-vnet/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Always run clean up
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Use backend.tf.sample as template
  Scripts/tf_deploy.ps1
  Terraform/backend.tf.sample
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Obtain ARM_ACCESS_KEY as needed
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Test backend pre-requisites
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Update backend info and removed Az Module check
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Git datasource
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Scripts/tf_clear_state.ps1
  Scripts/tf_deploy.ps1
  Terraform/main.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Update vdc-terraform-apply-simple-ci.yml for Azure Pipelines
  Pipelines/vdc-terraform-apply-simple-ci.yml
Due: none

Updated pipeline
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Scripts/tf_clear_state.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Renamed erase script
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Scripts/erase.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Set ARM_* in AzLogin
  Pipelines/vdc-terraform-apply-ci.yml
  Scripts/functions.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Pipeline fix
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Ckeanup dependencies
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Enable 'terraform apply' without pre-requisites (#84)
  .gitignore
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
  Scripts/deploy_paas_app.ps1
  Scripts/erase.ps1
  Scripts/functions.ps1
  Scripts/get_user_info.ps1
  Scripts/let_me_in.ps1
  Scripts/schedule_vm_updates.ps1
  Scripts/templatize_dashboard.ps1
  Scripts/tf_clear_state.ps1
  Scripts/tf_deploy.ps1
  Terraform/backend.tf
  Terraform/backend.tf.sample
  Terraform/default.tfvars
  Terraform/main.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/spoke-vnet/main.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Updated README
  README.md
Due: none

Azure CLI dependency
  Brewfile
Due: none

Updated README (#85)
  Brewfile
  README.md
Due: none

VM Insights
  Scripts/erase.ps1
  Terraform/default.tfvars
  Terraform/management.tf
  Terraform/modules/iis-app/main.tf
  Terraform/provider.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

stash
  Scripts/let_me_in.ps1
  Scripts/templatize_dashboard.ps1
  Terraform/dashboard.tpl
  Terraform/default.tfvars
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

VM Insights
  README.md
  Scripts/erase.ps1
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/management.tf
  Terraform/modules.tf
  Terraform/modules/iis-app/main.tf
  Terraform/modules/iis-app/variables.tf
  Terraform/modules/spoke-vnet/outputs.tf
  Terraform/outputs.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Adding VM Insights (#86)
  README.md
  Scripts/erase.ps1
  Scripts/let_me_in.ps1
  Scripts/templatize_dashboard.ps1
  Terraform/dashboard.tpl
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/management.tf
  Terraform/modules.tf
  Terraform/modules/iis-app/main.tf
  Terraform/modules/iis-app/variables.tf
  Terraform/modules/spoke-vnet/outputs.tf
  Terraform/outputs.tf
  Terraform/provider.tf
  Terraform/variables.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

App Service custom domain
  Terraform/config.auto.tfvars.sample
  Terraform/default.tfvars
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/variables.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

App Service Custom Domain used
  Terraform/default.tfvars
  Terraform/modules/paas-app/main.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

AAD Auth
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/outputs.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/variables.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Toggle for AAD auth
  Scripts/deploy_paas_app.ps1
  Terraform/ci.tfvars
  Terraform/default.tfvars
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/test.tfvars
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Test complex characters
  Terraform/main.tf
  Terraform/test.tfvars
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

More special characters in passwords
  Terraform/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Updated README
  README.md
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

App Service AAD Authentication (#87)
  README.md
  Scripts/deploy_paas_app.ps1
  Scripts/erase.ps1
  Terraform/ci.tfvars
  Terraform/config.auto.tfvars.sample
  Terraform/default.tfvars
  Terraform/iag.tf
  Terraform/main.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/outputs.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/test.tfvars
  Terraform/variables.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

stash
  Terraform/hub-vnet.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml
