Repository geekzter/azure-vdc: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Path conditions:
  Pipelines/vdc-terraform-apply-ci.yml: any of: Scripts, Terraform, but not: Apps, Kusto, Pipelines
  Pipelines/vdc-terraform-plan-ci.yml: any of: Terraform, but not: Apps, Kusto, Pipelines

Fixed use_vanity_domain_and_ssl = false
  Terraform/main.tf
  Terraform/variables.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Minimized dependencies on Terraform variables
  Pipelines/vdc-terraform-apply-simple-ci.yml
  Scripts/deploy_paas_app.ps1
  Terraform/backend.tf
  Terraform/config.auto.tfvars.sample
  Terraform/dashboard.tpl
  Terraform/main.tf
  Terraform/modules.tf
  Terraform/modules/iis-app/main.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/outputs.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/monitoring.tf
  Terraform/outputs.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Removed acr
  Terraform/dashboard.tpl
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

fix
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Remove pipeline
  Pipelines/vdc-terraform-apply-simple-ci.yml
Due: none

Obsoleted some PowerShell scripts (#80)
  Scripts/deploy_paas_app.ps1
  Scripts/functions.ps1
  Scripts/obsolete/configure_private_link.ps1
  Scripts/obsolete/start_vms.ps1
  Scripts/obsolete/unlock_tfstate.ps1
  Scripts/templatize_dashboard.ps1
  Scripts/tf_deploy.ps1
  Terraform/backend.tf
  Terraform/config.auto.tfvars.sample
  Terraform/dashboard.tpl
  Terraform/default.tfvars
  Terraform/main.tf
  Terraform/management.tf
  Terraform/modules.tf
  Terraform/modules/iis-app/main.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/outputs.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/monitoring.tf
  Terraform/outputs.tf
  Terraform/provider.tf
  Terraform/test.tfvars
  Terraform/variables.tf
  Terraform/waf.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Import SQL DB from deploy
  Scripts/check-database-contents.sql
  Scripts/deploy_paas_app.ps1
  Scripts/functions.ps1
  Scripts/grant-dbas-database-access.sql
  Scripts/obsolete/list_resources.ps1
  Terraform/modules/paas-app/main.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Import database as part of app deployment
  Pipelines/vdc-terraform-apply-ci.yml
  Scripts/deploy_paas_app.ps1
  Scripts/functions.ps1
  Scripts/grant_database_access.ps1
  Terraform/default.tfvars
  Terraform/modules/paas-app/main.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

import uses AAD
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

debug info
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Update vdc-terraform-apply-ci.yml for Azure Pipelines
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

$ErrorAction = "Continue"
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

use resource id for sql
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

derive rg name from tf
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Use SQL credentials for import
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

scipt shared with pipelone
  Pipelines/vdc-terraform-apply-ci.yml
  Scripts/deploy_paas_app.ps1
  Scripts/functions.ps1
  Terraform/default.tfvars
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

set executable flag
  Scripts/deploy_paas_app.ps1
  Scripts/schedule_vm_updates.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

quote the SAS
  Scripts/deploy_paas_app.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Clean up
  Pipelines/vdc-terraform-apply-ci.yml
  Scripts/functions.ps1
  Terraform/main.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/outputs.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/outputs.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Move DB import from TF -> PowerShell (#81)
  Pipelines/vdc-terraform-apply-ci.yml
  Scripts/check-database-contents.sql
  Scripts/deploy_paas_app.ps1
  Scripts/functions.ps1
  Scripts/grant-dbas-database-access.sql
  Scripts/grant_database_access.ps1
  Scripts/obsolete/list_resources.ps1
  Scripts/schedule_vm_updates.ps1
  Terraform/default.tfvars
  Terraform/main.tf
  Terraform/management.tf
  Terraform/modules.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/paas-app/outputs.tf
  Terraform/modules/paas-app/variables.tf
  Terraform/outputs.tf
  Terraform/variables.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Pipeline parameters
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
Due: none

Use pipeline parameters (#82)
  Pipelines/vdc-terraform-apply-ci.yml
  Pipelines/vdc-terraform-plan-ci.yml
Due: none

Removed PowerShell Az from local-exec
  Scripts/create_appsvc_sqldb_firewall_rules.ps1
  Scripts/create_network_watcher.ps1
  Scripts/enable_storage_logging.ps1
  Terraform/.terraform-version
  Terraform/default.tfvars
  Terraform/hub-vnet.tf
  Terraform/main.tf
  Terraform/management.tf
  Terraform/modules/iis-app/main.tf
  Terraform/modules/paas-app/main.tf
  Terraform/modules/spoke-vnet/main.tf
  Terraform/monitoring.tf
  Terraform/outputs.tf
Due: Pipelines/vdc-terraform-apply-ci.yml, Pipelines/vdc-terraform-plan-ci.yml

Use AzureCLI@2 for Terraform provisioning tasks
  Pipelines/vdc-terraform-apply-ci.yml
Due: none

Az module -> Azure CLI
  Scripts/punch_hole.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml

Adapted clear script for Azure CLI
  Pipelines/vdc-terraform-apply-ci.yml
  Scripts/functions.ps1
  Scripts/tf_clear_state.ps1
  Scripts/tf_deploy.ps1
Due: Pipelines/vdc-terraform-apply-ci.yml
